In [2]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import json

#API Keys

apikey = "73464aad4bec434e8b20c082a924d567"

In [4]:
url = "https://api.bls.gov/publicAPI/v2/timeseries/data/"

key = '?registrationkey={}'.format(apikey)

series_dict = {
    'LNS14000000': 'Unemployment Rate'}

#start year and end year

dates = ('1996', '2005')

headers = {'Content-type': 'application/json'}

data = json.dumps({
    "seriesid": list(series_dict.keys()),
    "startyear": dates[0],
    "endyear": dates[1]})

# Post request for the data
responses = requests.post(
    '{}{}'.format(url, key),
    headers=headers,
    data=data).json()['Results']['series']

In [52]:
responses2 = responses[0]['data']
responses2
bls_df = pd.DataFrame(responses2)
bls_df

     year period periodName value footnotes
0    2005    M12   December   4.9      [{}]
1    2005    M11   November   5.0      [{}]
2    2005    M10    October   5.0      [{}]
3    2005    M09  September   5.0      [{}]
4    2005    M08     August   4.9      [{}]
..    ...    ...        ...   ...       ...
115  1996    M05        May   5.6      [{}]
116  1996    M04      April   5.6      [{}]
117  1996    M03      March   5.5      [{}]
118  1996    M02   February   5.5      [{}]
119  1996    M01    January   5.6      [{}]

[120 rows x 5 columns]

In [56]:
url = "https://api.bls.gov/publicAPI/v2/timeseries/data/"

key = '?registrationkey={}'.format(apikey)

series_dict = {
    'LNS14000000': 'Unemployment Rate'}

#start year and end year

dates2 = ('2006', '2016')

headers = {'Content-type': 'application/json'}

data = json.dumps({
    "seriesid": list(series_dict.keys()),
    "startyear": dates2[0],
    "endyear": dates2[1]})

# Post request for the data
responses_2006_2015 = requests.post(
    '{}{}'.format(url, key),
    headers=headers,
    data=data).json()['Results']['series']

responses_2006_2015

[{'seriesID': 'LNS14000000',
  'data': [{'year': '2015',
    'period': 'M12',
    'periodName': 'December',
    'value': '5.0',
    'footnotes': [{}]},
   {'year': '2015',
    'period': 'M11',
    'periodName': 'November',
    'value': '5.1',
    'footnotes': [{}]},
   {'year': '2015',
    'period': 'M10',
    'periodName': 'October',
    'value': '5.0',
    'footnotes': [{}]},
   {'year': '2015',
    'period': 'M09',
    'periodName': 'September',
    'value': '5.0',
    'footnotes': [{}]},
   {'year': '2015',
    'period': 'M08',
    'periodName': 'August',
    'value': '5.1',
    'footnotes': [{}]},
   {'year': '2015',
    'period': 'M07',
    'periodName': 'July',
    'value': '5.2',
    'footnotes': [{}]},
   {'year': '2015',
    'period': 'M06',
    'periodName': 'June',
    'value': '5.3',
    'footnotes': [{}]},
   {'year': '2015',
    'period': 'M05',
    'periodName': 'May',
    'value': '5.6',
    'footnotes': [{}]},
   {'year': '2015',
    'period': 'M04',
    'periodName': 'April',
    'value': '5.4',
    'footnotes': [{}]},
   {'year': '2015',
    'period': 'M03',
    'periodName': 'March',
    'value': '5.4',
    'footnotes': [{}]},
   {'year': '2015',
    'period': 'M02',
    'periodName': 'February',
    'value': '5.5',
    'footnotes': [{}]},
   {'year': '2015',
    'period': 'M01',
    'periodName': 'January',
    'value': '5.7',
    'footnotes': [{}]},
   {'year': '2014',
    'period': 'M12',
    'periodName': 'December',
    'value': '5.6',
    'footnotes': [{}]},
   {'year': '2014',
    'period': 'M11',
    'periodName': 'November',
    'value': '5.8',
    'footnotes': [{}]},
   {'year': '2014',
    'period': 'M10',
    'periodName': 'October',
    'value': '5.7',
    'footnotes': [{}]},
   {'year': '2014',
    'period': 'M09',
    'periodName': 'September',
    'value': '5.9',
    'footnotes': [{}]},
   {'year': '2014',
    'period': 'M08',
    'periodName': 'August',
    'value': '6.1',
    'footnotes': [{}]},
   {'year': '2014',
    'period': 'M07',
    'periodName': 'July',
    'value': '6.2',
    'footnotes': [{}]},
   {'year': '2014',
    'period': 'M06',
    'periodName': 'June',
    'value': '6.1',
    'footnotes': [{}]},
   {'year': '2014',
    'period': 'M05',
    'periodName': 'May',
    'value': '6.3',
    'footnotes': [{}]},
   {'year': '2014',
    'period': 'M04',
    'periodName': 'April',
    'value': '6.2',
    'footnotes': [{}]},
   {'year': '2014',
    'period': 'M03',
    'periodName': 'March',
    'value': '6.7',
    'footnotes': [{}]},
   {'year': '2014',
    'period': 'M02',
    'periodName': 'February',
    'value': '6.7',
    'footnotes': [{}]},
   {'year': '2014',
    'period': 'M01',
    'periodName': 'January',
    'value': '6.6',
    'footnotes': [{}]},
   {'year': '2013',
    'period': 'M12',
    'periodName': 'December',
    'value': '6.7',
    'footnotes': [{}]},
   {'year': '2013',
    'period': 'M11',
    'periodName': 'November',
    'value': '6.9',
    'footnotes': [{}]},
   {'year': '2013',
    'period': 'M10',
    'periodName': 'October',
    'value': '7.2',
    'footnotes': [{}]},
   {'year': '2013',
    'period': 'M09',
    'periodName': 'September',
    'value': '7.2',
    'footnotes': [{}]},
   {'year': '2013',
    'period': 'M08',
    'periodName': 'August',
    'value': '7.2',
    'footnotes': [{}]},
   {'year': '2013',
    'period': 'M07',
    'periodName': 'July',
    'value': '7.3',
    'footnotes': [{}]},
   {'year': '2013',
    'period': 'M06',
    'periodName': 'June',
    'value': '7.5',
    'footnotes': [{}]},
   {'year': '2013',
    'period': 'M05',
    'periodName': 'May',
    'value': '7.5',
    'footnotes': [{}]},
   {'year': '2013',
    'period': 'M04',
    'periodName': 'April',
    'value': '7.6',
    'footnotes': [{}]},
   {'year': '2013',
    'period': 'M03',
    'periodName': 'March',
    'value': '7.5',
    'footnotes': [{}]},
   {'year': '2013',
    'period': 'M02',
    'periodName': 'February',
    'value': '7.7',
    'footnotes': [{}]},
   {'year': '2013',
    'period': 'M01',
    'periodName': 'January',
    'value': '8.0',
    'footnotes': [{}]},
   {'year': '2012',
    'period': 'M12',
    'periodName': 'December',
    'value': '7.9',
    'footnotes': [{}]},
   {'year': '2012',
    'period': 'M11',
    'periodName': 'November',
    'value': '7.7',
    'footnotes': [{}]},
   {'year': '2012',
    'period': 'M10',
    'periodName': 'October',
    'value': '7.8',
    'footnotes': [{}]},
   {'year': '2012',
    'period': 'M09',
    'periodName': 'September',
    'value': '7.8',
    'footnotes': [{}]},
   {'year': '2012',
    'period': 'M08',
    'periodName': 'August',
    'value': '8.1',
    'footnotes': [{}]},
   {'year': '2012',
    'period': 'M07',
    'periodName': 'July',
    'value': '8.2',
    'footnotes': [{}]},
   {'year': '2012',
    'period': 'M06',
    'periodName': 'June',
    'value': '8.2',
    'footnotes': [{}]},
   {'year': '2012',
    'period': 'M05',
    'periodName': 'May',
    'value': '8.2',
    'footnotes': [{}]},
   {'year': '2012',
    'period': 'M04',
    'periodName': 'April',
    'value': '8.2',
    'footnotes': [{}]},
   {'year': '2012',
    'period': 'M03',
    'periodName': 'March',
    'value': '8.2',
    'footnotes': [{}]},
   {'year': '2012',
    'period': 'M02',
    'periodName': 'February',
    'value': '8.3',
    'footnotes': [{}]},
   {'year': '2012',
    'period': 'M01',
    'periodName': 'January',
    'value': '8.3',
    'footnotes': [{}]},
   {'year': '2011',
    'period': 'M12',
    'periodName': 'December',
    'value': '8.5',
    'footnotes': [{}]},
   {'year': '2011',
    'period': 'M11',
    'periodName': 'November',
    'value': '8.6',
    'footnotes': [{}]},
   {'year': '2011',
    'period': 'M10',
    'periodName': 'October',
    'value': '8.8',
    'footnotes': [{}]},
   {'year': '2011',
    'period': 'M09',
    'periodName': 'September',
    'value': '9.0',
    'footnotes': [{}]},
   {'year': '2011',
    'period': 'M08',
    'periodName': 'August',
    'value': '9.0',
    'footnotes': [{}]},
   {'year': '2011',
    'period': 'M07',
    'periodName': 'July',
    'value': '9.0',
    'footnotes': [{}]},
   {'year': '2011',
    'period': 'M06',
    'periodName': 'June',
    'value': '9.1',
    'footnotes': [{}]},
   {'year': '2011',
    'period': 'M05',
    'periodName': 'May',
    'value': '9.0',
    'footnotes': [{}]},
   {'year': '2011',
    'period': 'M04',
    'periodName': 'April',
    'value': '9.1',
    'footnotes': [{}]},
   {'year': '2011',
    'period': 'M03',
    'periodName': 'March',
    'value': '9.0',
    'footnotes': [{}]},
   {'year': '2011',
    'period': 'M02',
    'periodName': 'February',
    'value': '9.0',
    'footnotes': [{}]},
   {'year': '2011',
    'period': 'M01',
    'periodName': 'January',
    'value': '9.1',
    'footnotes': [{}]},
   {'year': '2010',
    'period': 'M12',
    'periodName': 'December',
    'value': '9.3',
    'footnotes': [{}]},
   {'year': '2010',
    'period': 'M11',
    'periodName': 'November',
    'value': '9.8',
    'footnotes': [{}]},
   {'year': '2010',
    'period': 'M10',
    'periodName': 'October',
    'value': '9.4',
    'footnotes': [{}]},
   {'year': '2010',
    'period': 'M09',
    'periodName': 'September',
    'value': '9.5',
    'footnotes': [{}]},
   {'year': '2010',
    'period': 'M08',
    'periodName': 'August',
    'value': '9.5',
    'footnotes': [{}]},
   {'year': '2010',
    'period': 'M07',
    'periodName': 'July',
    'value': '9.4',
    'footnotes': [{}]},
   {'year': '2010',
    'period': 'M06',
    'periodName': 'June',
    'value': '9.4',
    'footnotes': [{}]},
   {'year': '2010',
    'period': 'M05',
    'periodName': 'May',
    'value': '9.6',
    'footnotes': [{}]},
   {'year': '2010',
    'period': 'M04',
    'periodName': 'April',
    'value': '9.9',
    'footnotes': [{}]},
   {'year': '2010',
    'period': 'M03',
    'periodName': 'March',
    'value': '9.9',
    'footnotes': [{}]},
   {'year': '2010',
    'period': 'M02',
    'periodName': 'February',
    'value': '9.8',
    'footnotes': [{}]},
   {'year': '2010',
    'period': 'M01',
    'periodName': 'January',
    'value': '9.8',
    'footnotes': [{}]},
   {'year': '2009',
    'period': 'M12',
    'periodName': 'December',
    'value': '9.9',
    'footnotes': [{}]},
   {'year': '2009',
    'period': 'M11',
    'periodName': 'November',
    'value': '9.9',
    'footnotes': [{}]},
   {'year': '2009',
    'period': 'M10',
    'periodName': 'October',
    'value': '10.0',
    'footnotes': [{}]},
   {'year': '2009',
    'period': 'M09',
    'periodName': 'September',
    'value': '9.8',
    'footnotes': [{}]},
   {'year': '2009',
    'period': 'M08',
    'periodName': 'August',
    'value': '9.6',
    'footnotes': [{}]},
   {'year': '2009',
    'period': 'M07',
    'periodName': 'July',
    'value': '9.5',
    'footnotes': [{}]},
   {'year': '2009',
    'period': 'M06',
    'periodName': 'June',
    'value': '9.5',
    'footnotes': [{}]},
   {'year': '2009',
    'period': 'M05',
    'periodName': 'May',
    'value': '9.4',
    'footnotes': [{}]},
   {'year': '2009',
    'period': 'M04',
    'periodName': 'April',
    'value': '9.0',
    'footnotes': [{}]},
   {'year': '2009',
    'period': 'M03',
    'periodName': 'March',
    'value': '8.7',
    'footnotes': [{}]},
   {'year': '2009',
    'period': 'M02',
    'periodName': 'February',
    'value': '8.3',
    'footnotes': [{}]},
   {'year': '2009',
    'period': 'M01',
    'periodName': 'January',
    'value': '7.8',
    'footnotes': [{}]},
   {'year': '2008',
    'period': 'M12',
    'periodName': 'December',
    'value': '7.3',
    'footnotes': [{}]},
   {'year': '2008',
    'period': 'M11',
    'periodName': 'November',
    'value': '6.8',
    'footnotes': [{}]},
   {'year': '2008',
    'period': 'M10',
    'periodName': 'October',
    'value': '6.5',
    'footnotes': [{}]},
   {'year': '2008',
    'period': 'M09',
    'periodName': 'September',
    'value': '6.1',
    'footnotes': [{}]},
   {'year': '2008',
    'period': 'M08',
    'periodName': 'August',
    'value': '6.1',
    'footnotes': [{}]},
   {'year': '2008',
    'period': 'M07',
    'periodName': 'July',
    'value': '5.8',
    'footnotes': [{}]},
   {'year': '2008',
    'period': 'M06',
    'periodName': 'June',
    'value': '5.6',
    'footnotes': [{}]},
   {'year': '2008',
    'period': 'M05',
    'periodName': 'May',
    'value': '5.4',
    'footnotes': [{}]},
   {'year': '2008',
    'period': 'M04',
    'periodName': 'April',
    'value': '5.0',
    'footnotes': [{}]},
   {'year': '2008',
    'period': 'M03',
    'periodName': 'March',
    'value': '5.1',
    'footnotes': [{}]},
   {'year': '2008',
    'period': 'M02',
    'periodName': 'February',
    'value': '4.9',
    'footnotes': [{}]},
   {'year': '2008',
    'period': 'M01',
    'periodName': 'January',
    'value': '5.0',
    'footnotes': [{}]},
   {'year': '2007',
    'period': 'M12',
    'periodName': 'December',
    'value': '5.0',
    'footnotes': [{}]},
   {'year': '2007',
    'period': 'M11',
    'periodName': 'November',
    'value': '4.7',
    'footnotes': [{}]},
   {'year': '2007',
    'period': 'M10',
    'periodName': 'October',
    'value': '4.7',
    'footnotes': [{}]},
   {'year': '2007',
    'period': 'M09',
    'periodName': 'September',
    'value': '4.7',
    'footnotes': [{}]},
   {'year': '2007',
    'period': 'M08',
    'periodName': 'August',
    'value': '4.6',
    'footnotes': [{}]},
   {'year': '2007',
    'period': 'M07',
    'periodName': 'July',
    'value': '4.7',
    'footnotes': [{}]},
   {'year': '2007',
    'period': 'M06',
    'periodName': 'June',
    'value': '4.6',
    'footnotes': [{}]},
   {'year': '2007',
    'period': 'M05',
    'periodName': 'May',
    'value': '4.4',
    'footnotes': [{}]},
   {'year': '2007',
    'period': 'M04',
    'periodName': 'April',
    'value': '4.5',
    'footnotes': [{}]},
   {'year': '2007',
    'period': 'M03',
    'periodName': 'March',
    'value': '4.4',
    'footnotes': [{}]},
   {'year': '2007',
    'period': 'M02',
    'periodName': 'February',
    'value': '4.5',
    'footnotes': [{}]},
   {'year': '2007',
    'period': 'M01',
    'periodName': 'January',
    'value': '4.6',
    'footnotes': [{}]},
   {'year': '2006',
    'period': 'M12',
    'periodName': 'December',
    'value': '4.4',
    'footnotes': [{}]},
   {'year': '2006',
    'period': 'M11',
    'periodName': 'November',
    'value': '4.5',
    'footnotes': [{}]},
   {'year': '2006',
    'period': 'M10',
    'periodName': 'October',
    'value': '4.4',
    'footnotes': [{}]},
   {'year': '2006',
    'period': 'M09',
    'periodName': 'September',
    'value': '4.5',
    'footnotes': [{}]},
   {'year': '2006',
    'period': 'M08',
    'periodName': 'August',
    'value': '4.7',
    'footnotes': [{}]},
   {'year': '2006',
    'period': 'M07',
    'periodName': 'July',
    'value': '4.7',
    'footnotes': [{}]},
   {'year': '2006',
    'period': 'M06',
    'periodName': 'June',
    'value': '4.6',
    'footnotes': [{}]},
   {'year': '2006',
    'period': 'M05',
    'periodName': 'May',
    'value': '4.6',
    'footnotes': [{}]},
   {'year': '2006',
    'period': 'M04',
    'periodName': 'April',
    'value': '4.7',
    'footnotes': [{}]},
   {'year': '2006',
    'period': 'M03',
    'periodName': 'March',
    'value': '4.7',
    'footnotes': [{}]},
   {'year': '2006',
    'period': 'M02',
    'periodName': 'February',
    'value': '4.8',
    'footnotes': [{}]},
   {'year': '2006',
    'period': 'M01',
    'periodName': 'January',
    'value': '4.7',
    'footnotes': [{}]}]}]

In [57]:
responses_2006_20152 = responses_2006_2015[0]['data']

bls_df_2 = pd.DataFrame(responses_2006_20152)
bls_df_2

     year period periodName value footnotes
0    2015    M12   December   5.0      [{}]
1    2015    M11   November   5.1      [{}]
2    2015    M10    October   5.0      [{}]
3    2015    M09  September   5.0      [{}]
4    2015    M08     August   5.1      [{}]
..    ...    ...        ...   ...       ...
115  2006    M05        May   4.6      [{}]
116  2006    M04      April   4.7      [{}]
117  2006    M03      March   4.7      [{}]
118  2006    M02   February   4.8      [{}]
119  2006    M01    January   4.7      [{}]

[120 rows x 5 columns]

In [58]:
url = "https://api.bls.gov/publicAPI/v2/timeseries/data/"

key = '?registrationkey={}'.format(apikey)

series_dict = {
    'LNS14000000': 'Unemployment Rate'}

#start year and end year

dates3 = ('2016', '2016')

headers = {'Content-type': 'application/json'}

data = json.dumps({
    "seriesid": list(series_dict.keys()),
    "startyear": dates3[0],
    "endyear": dates3[1]})

# Post request for the data
responses_2016 = requests.post(
    '{}{}'.format(url, key),
    headers=headers,
    data=data).json()['Results']['series']

responses_2016

[{'seriesID': 'LNS14000000',
  'data': [{'year': '2016',
    'period': 'M12',
    'periodName': 'December',
    'value': '4.7',
    'footnotes': [{}]},
   {'year': '2016',
    'period': 'M11',
    'periodName': 'November',
    'value': '4.7',
    'footnotes': [{}]},
   {'year': '2016',
    'period': 'M10',
    'periodName': 'October',
    'value': '4.9',
    'footnotes': [{}]},
   {'year': '2016',
    'period': 'M09',
    'periodName': 'September',
    'value': '5.0',
    'footnotes': [{}]},
   {'year': '2016',
    'period': 'M08',
    'periodName': 'August',
    'value': '4.9',
    'footnotes': [{}]},
   {'year': '2016',
    'period': 'M07',
    'periodName': 'July',
    'value': '4.8',
    'footnotes': [{}]},
   {'year': '2016',
    'period': 'M06',
    'periodName': 'June',
    'value': '4.9',
    'footnotes': [{}]},
   {'year': '2016',
    'period': 'M05',
    'periodName': 'May',
    'value': '4.8',
    'footnotes': [{}]},
   {'year': '2016',
    'period': 'M04',
    'periodName': 'April',
    'value': '5.0',
    'footnotes': [{}]},
   {'year': '2016',
    'period': 'M03',
    'periodName': 'March',
    'value': '5.0',
    'footnotes': [{}]},
   {'year': '2016',
    'period': 'M02',
    'periodName': 'February',
    'value': '4.9',
    'footnotes': [{}]},
   {'year': '2016',
    'period': 'M01',
    'periodName': 'January',
    'value': '4.9',
    'footnotes': [{}]}]}]

In [59]:
responses_20162 = responses_2016[0]['data']

bls_df_3 = pd.DataFrame(responses_20162)
bls_df_3

    year period periodName value footnotes
0   2016    M12   December   4.7      [{}]
1   2016    M11   November   4.7      [{}]
2   2016    M10    October   4.9      [{}]
3   2016    M09  September   5.0      [{}]
4   2016    M08     August   4.9      [{}]
5   2016    M07       July   4.8      [{}]
6   2016    M06       June   4.9      [{}]
7   2016    M05        May   4.8      [{}]
8   2016    M04      April   5.0      [{}]
9   2016    M03      March   5.0      [{}]
10  2016    M02   February   4.9      [{}]
11  2016    M01    January   4.9      [{}]

In [63]:
dataframes = [bls_df_3,bls_df_2,bls_df]
bls_df_final = pd.concat(dataframes)
bls_df_final

     year period periodName value footnotes
0    2016    M12   December   4.7      [{}]
1    2016    M11   November   4.7      [{}]
2    2016    M10    October   4.9      [{}]
3    2016    M09  September   5.0      [{}]
4    2016    M08     August   4.9      [{}]
..    ...    ...        ...   ...       ...
115  1996    M05        May   5.6      [{}]
116  1996    M04      April   5.6      [{}]
117  1996    M03      March   5.5      [{}]
118  1996    M02   February   5.5      [{}]
119  1996    M01    January   5.6      [{}]

[252 rows x 5 columns]

In [79]:
bls_df_by_year = bls_df_final.loc[(bls_df_final['period'] == 'M12')|
                                  (bls_df_final['period'] == 'M01')
                                 ].reset_index(drop=True)

bls_df_by_year

    year period periodName value footnotes
0   2016    M12   December   4.7      [{}]
1   2016    M01    January   4.9      [{}]
2   2015    M12   December   5.0      [{}]
3   2015    M01    January   5.7      [{}]
4   2014    M12   December   5.6      [{}]
5   2014    M01    January   6.6      [{}]
6   2013    M12   December   6.7      [{}]
7   2013    M01    January   8.0      [{}]
8   2012    M12   December   7.9      [{}]
9   2012    M01    January   8.3      [{}]
10  2011    M12   December   8.5      [{}]
11  2011    M01    January   9.1      [{}]
12  2010    M12   December   9.3      [{}]
13  2010    M01    January   9.8      [{}]
14  2009    M12   December   9.9      [{}]
15  2009    M01    January   7.8      [{}]
16  2008    M12   December   7.3      [{}]
17  2008    M01    January   5.0      [{}]
18  2007    M12   December   5.0      [{}]
19  2007    M01    January   4.6      [{}]
20  2006    M12   December   4.4      [{}]
21  2006    M01    January   4.7      [{}]
22  2005    M12   December   4.9      [{}]
23  2005    M01    January   5.3      [{}]
24  2004    M12   December   5.4      [{}]
25  2004    M01    January   5.7      [{}]
26  2003    M12   December   5.7      [{}]
27  2003    M01    January   5.8      [{}]
28  2002    M12   December   6.0      [{}]
29  2002    M01    January   5.7      [{}]
30  2001    M12   December   5.7      [{}]
31  2001    M01    January   4.2      [{}]
32  2000    M12   December   3.9      [{}]
33  2000    M01    January   4.0      [{}]
34  1999    M12   December   4.0      [{}]
35  1999    M01    January   4.3      [{}]
36  1998    M12   December   4.4      [{}]
37  1998    M01    January   4.6      [{}]
38  1997    M12   December   4.7      [{}]
39  1997    M01    January   5.3      [{}]
40  1996    M12   December   5.4      [{}]
41  1996    M01    January   5.6      [{}]

In [83]:
bls_df_by_year['Year Change'] = ""

bls_df_by_year['value'] = bls_df_by_year['value'].astype(float)

# use iterrows to iterate through pandas dataframe
start_value = 0

for index, row in bls_df_by_year.iterrows():
    
    change =  start_value - row['value'] 
    start_value = row['value']
    bls_df_by_year.loc[index, 'Year Change'] = change
    
bls_df_by_year

    year period periodName  value footnotes Year Change
0   2016    M12   December    4.7      [{}]        -4.7
1   2016    M01    January    4.9      [{}]        -0.2
2   2015    M12   December    5.0      [{}]        -0.1
3   2015    M01    January    5.7      [{}]        -0.7
4   2014    M12   December    5.6      [{}]         0.1
5   2014    M01    January    6.6      [{}]          -1
6   2013    M12   December    6.7      [{}]        -0.1
7   2013    M01    January    8.0      [{}]        -1.3
8   2012    M12   December    7.9      [{}]         0.1
9   2012    M01    January    8.3      [{}]        -0.4
10  2011    M12   December    8.5      [{}]        -0.2
11  2011    M01    January    9.1      [{}]        -0.6
12  2010    M12   December    9.3      [{}]        -0.2
13  2010    M01    January    9.8      [{}]        -0.5
14  2009    M12   December    9.9      [{}]        -0.1
15  2009    M01    January    7.8      [{}]         2.1
16  2008    M12   December    7.3      [{}]         0.5
17  2008    M01    January    5.0      [{}]         2.3
18  2007    M12   December    5.0      [{}]           0
19  2007    M01    January    4.6      [{}]         0.4
20  2006    M12   December    4.4      [{}]         0.2
21  2006    M01    January    4.7      [{}]        -0.3
22  2005    M12   December    4.9      [{}]        -0.2
23  2005    M01    January    5.3      [{}]        -0.4
24  2004    M12   December    5.4      [{}]        -0.1
25  2004    M01    January    5.7      [{}]        -0.3
26  2003    M12   December    5.7      [{}]           0
27  2003    M01    January    5.8      [{}]        -0.1
28  2002    M12   December    6.0      [{}]        -0.2
29  2002    M01    January    5.7      [{}]         0.3
30  2001    M12   December    5.7      [{}]           0
31  2001    M01    January    4.2      [{}]         1.5
32  2000    M12   December    3.9      [{}]         0.3
33  2000    M01    January    4.0      [{}]        -0.1
34  1999    M12   December    4.0      [{}]           0
35  1999    M01    January    4.3      [{}]        -0.3
36  1998    M12   December    4.4      [{}]        -0.1
37  1998    M01    January    4.6      [{}]        -0.2
38  1997    M12   December    4.7      [{}]        -0.1
39  1997    M01    January    5.3      [{}]        -0.6
40  1996    M12   December    5.4      [{}]        -0.1
41  1996    M01    January    5.6      [{}]        -0.2

In [87]:
bls_df_change = bls_df_by_year.loc[(bls_df_by_year['period'] == 'M01')].reset_index(drop=True)
bls_df_change = bls_df_change[['year','Year Change']] 
bls_df_change

    year Year Change
0   2016        -0.2
1   2015        -0.7
2   2014          -1
3   2013        -1.3
4   2012        -0.4
5   2011        -0.6
6   2010        -0.5
7   2009         2.1
8   2008         2.3
9   2007         0.4
10  2006        -0.3
11  2005        -0.4
12  2004        -0.3
13  2003        -0.1
14  2002         0.3
15  2001         1.5
16  2000        -0.1
17  1999        -0.3
18  1998        -0.2
19  1997        -0.6
20  1996        -0.2

In [90]:
bls_df_change.to_csv("outputs/bls_data.csv",index=False)